body {
    margin: 0;
    padding: 0;
}   

ul {
list-style: none;
margin: 0;
padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.avatar-logo {

}

a {
    text-decoration: none;
}

.container {
    width: 1032px;
    margin: 0 auto;
}

.header {

}

.header-position {
    display: flex;
}

.navigation {
   
}

.link-list {
    display: flex;
}

.avatar-logo {
    margin-right: 168px;
}

.linka {
    margin-right: 38px;
     color: #94CFFF;
}

.log-in {
    margin-left: 212px;
}

.language {
    display: flex;
}




