:root {
    --link-color-text:#26C6EA;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

ul {
list-style: none;
margin: 0;
padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.avatar-logo {

}

a {
    text-decoration: none;
}

.container {
    width: 1032px;
    margin: 0 auto;
}

.header {
background-image: linear-gradient(rgba(43, 74, 97, 0.87),
            rgba(43, 74, 97, 0.87)),
        url(../images/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
    
}

.header-position {
    display: flex;
padding-top: 39px;
}

.navigation {
   
}

.link-list {
    display: flex;
}

.avatar-logo {
    margin-right: 168px;
}

.linka {
    margin-right: 38px;
     color: #94CFFF;
}

.log-in {
    margin-left: 212px;
}

.language {
    display: flex;
}

.hero {
background-image: url(../images/hero-photo.png);
background-repeat: no-repeat;
background-position: center;
height: 740px   ;
padding-top: 180px;
background-size: 100%;
}

.hero-container {
display: flex;
justify-content: space-between;
}
.clan-description {
    color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
            width: 315px;
}

.clan-description-2 {
    width: 376px;
}

.clan-description-1::after {
content: "";
background-image: url(../images/arow-hero.png);
background-repeat: no-repeat;
margin-top: 10px;
margin-bottom: 10px;
    display: block;
    margin-left: 70px;
    width: 152px;
        height: 40px
    }

.link-clan {
    border-radius: 45px 0px;
        border: 3px solid #26C7EA;
        background: #0B0E66;
    color: #26C7EA;
       
        font-family: HeadlandOne;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
display: block;
width: 260px;
height: 80px;
text-align: center;
}

.log-in {
border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
color: var(--link-color-text);
    text-align: center;
    font-family: HeadlandOne;
    font-size: 20px;
    font-weight: 400;
    line-height: 1,25;
            
        width:141px  ;
        height: 42px;
        padding-top: 9px;
        padding-bottom: 8px;
        padding-left: 37px;
        padding-right: 36px;
}

.social-links {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: center;
}

.social-link {
    
}

.hero-content {

}




